<!Doctype html>
<html>

<head>
    <title>Zoom</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body ng-app="HighScore">
    <div id="highscore" ng-controller="highscoreController" id="highscore">
        <h1 class="title">High Scores</h1>
        <form name="highscoreForm" ng-if="!entered">
            <h1 class="highscore">Name: </h1>
            <input name="name" type="text" placeholder="Enter Name" ng-model="name" required/> </br>
            <h1 class="highscore" id="score"></h1>

            <button type="submit" ng-click="newScore()" class='scoreSub'>Okay!</button>
        </form>
        <button type="submit" ng-if="entered" ng-click="redirect()" class='scoreSub'>Play Again</button>
        <hr/>
        <div>
            <button type="submit" ng-click="clearScores()" class='scoreSub' class="btn-lg">Clear Scores</button>
            <table class='scoreTable'>
                <tr>
                    <th>NAME:
                        <button title='Sort by name' class='sortBut' ng-class='{sortButAct:sortOrder=="name"}' ng-click='sortMe(0)'>&#8693;</button>
                    </th>
                    <th>SCORE:
                        <button title='Sort by name' class='sortBut' ng-class='{sortButAct:sortOrder=="score"}' ng-click='sortMe(1)'>&#8693;</button>
                    </th>
                </tr>
                <tr ng-repeat="score in allScores | orderBy:sortOrder">
                    <td>{{ score.name }}</td>
                    <td>{{ score.score }}</td>
                </tr>
                <tr ng-if="allScores.length<1">
                    <td colspan=2>No scores yet!</tr>
            </table>
        </div>
    </div>

    <script src='/angular/angular.js'></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/js/controllers/highscoreController.js'></script>
    <script src='/js/factories/highscore.js'></script>
</body>

</html>