<!Doctype html>
<html>

<head>
    <title>Zoom</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet" />
</head>

<body id="homepage">
    <div>
        <h1 class="title">Zoom</h1></br></br>
        <h3 id="set">Get your Mobile Ready</h3></br>
    </div>
    <div id="mobilebutton">
        <button id="go" type="button" class="btn btn-primary btn-lg bln-block" onclick="detectmob()">Welcome.. Click here to Start!</button>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js">
    </script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </script>
    <script src='/js/device.js'></script>
    <script src='/ngDialog/js/ngDialog.min.js'></script>
</body>

</html>