<!Doctype html>
<html>

<head>
    <title>Phone Orientation Stuff</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

    <div>
        <button id="go" type="button" class="btn btn default btn-log bln-block" onclick="detectmob()">Welcome.. Click here to Start!<button>
    </div>

            <!-- <div id='targ'></div> -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js">
    </script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/angular/angular.js'></script>
    <script src='/js/controllers/MainController.js'></script>
    <script src='/js/factories/socket.js'></script>
    <script src='/js/socket.js'>
    </script>
    <script src='/js/device.js'></script>
</body>

</html>