<!Doctype html>
<html>

<head>
    <title>Zoom</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>
    <div ng-app='shipMobile' ng-controller='mobileController'>
        <div id='vertInd'>
            <div id='vertIndTube'>
                <div class='gear' id='gearOne'></div>
                <div class='gear' id='gearTwo'></div>
                <div id='gearBar1'></div>
                <div id='gearBar2'></div>
            </div>
        </div>
        <div id='horizInd'></div>

    </div>



    <script src="https://cdn.socket.io/socket.io-1.2.0.js">
    </script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/angular/angular.js'></script>
    <script src='/js/controllers/mobileController.js'></script>
    <script src='/js/factories/socket.js'></script>

</body>

</html>
