<!Doctype html>
<html>

<head>
    <title>Phone Orientation Stuff</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

 

    <script src="https://cdn.socket.io/socket.io-1.2.0.js">
    </script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/js/socket.js'>
    </script>
    <script src='/js/device.js'></script>
</body>

</html>