html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    z-index: 1;
    cursor:url('/img/rocket.png'),auto;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/img/bg.jpg');
    background-size: cover;
    background-attachment:fixed;
}
h1, h2, h3, p {
    color: #CCC;
}
#container {
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
}
#homepage {
    background-color: #000;
}
.title {
    color: #1877D6;
    font-size: 180px;
    text-align: center;
    text-shadow: 5px 5px 5px #CCC;
    padding-top:-50px;
    position:relative;
}
#set {
    font-size: 40px;
    text-align: center;
}
#meta-container {
    width: 90vw;
    height: 90vw;
    z-index: 2;
    transform: translateZ(0px);
    transform-style: preserve-3d;
}
#shipCont {
    transform-style: preserve-3d;
    position: absolute;
    transform-origin: 50% 250px;
    left: 50%;
    width: 50px;
    z-index: 500;
    transform: rotateX(40deg);
}
.shipNose {
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 300px solid #ccc;
    position: absolute;
    z-index: 1000;
}
#shipNoseBot {
    transform: rotateY(0deg) translateZ(25px) rotateX(9.46deg);
}
#shipNoseLef {
    transform: rotateY(90deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #c9c9c9;
}
#shipNoseTop {
    transform: rotateY(180deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #d0d0d0;
}
#shipNoseRit {
    transform: rotateY(270deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #c0c0c0;
}
#shipRearBot {
    transform: rotateY(0deg) translateZ(25px) translateY(290px) rotateX(170.54deg);
}
#shipRearLef {
    transform: rotateY(90deg) translateZ(25px) translateY(290px) rotateX(170.54deg);
    border-bottom: 300px solid #c9c9c9;
}
#shipRearTop {
    transform: rotateY(180deg) translateZ(25px) translateY(290px) rotateX(170.54deg);
    border-bottom: 300px solid #d0d0d0;
}
#shipRearRit {
    transform: rotateY(270deg) translateZ(25px) translateY(290px) rotateX(170.54deg);
    border-bottom: 300px solid #c0c0c0;
}
.tun {
    border-radius: 50%;
    border: 4px solid #0f0;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 50%;
    top: 50%;
    border-color: hsl(0, 100%, 50%);
    text-align: center;
}
#mobile {
    background-color: #000;
    font-size: 20px;
    text-align: center;
    width:100vw;
    height:100vh;
}
#mobilebutton {
    text-align: center;
    font-size: 100px;
    margin-left: auto;
}
.scorebox {
    position: fixed;
    margin-left: 5%;
    left:20px;
    top:270px;
    margin-top: 5%;
    width: 200px;
    height: 100px;
}
.movefront {
    z-index: 10000;
    transform: translateZ(500);
}
/*secret!*/

.main {
    height: 732px;
    width: 466px;
    background-size: cover;
    position: absolute;
}
#main-front {
    background-image: url('/img/main-front.png');
    transform: translateZ(-233px) rotateY(0deg) scaleX(-1);
}
.main-left-right {
    background-image: url('/img/main-left-right.png');
}
#main-left {
    transform: translateX(233px) rotateY(90deg);
}
#main-right {
    transform: translateX(-233px) rotateY(270deg);
}
#main-rear {
    background-image: url('/img/main-rear.png');
    transform: translateZ(233px) rotateY(180deg);
}
#main-bot {
    height: 466px;
    width: 466px;
    background-size: cover;
    position: absolute;
    background-image: url('/img/main-bot.png');
    transform: rotateX(90deg) translateZ(-500px);
}
#doorSignCont {
    transform-style: preserve-3d;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateX(-13px);
}
.doorSign {
    background-image: url('/img/doorSign.png');
    transform-style: preserve-3d;
    width: 494px;
    height: 58px;
    background-size: cover;
    position: absolute;
}
#signFront {
    transform: rotateY(0deg) translateZ(247px) translateY(-54px);
}
#signLeft {
    transform: rotateY(90deg) translateZ(247px) translateY(-54px);
}
#signRight {
    transform: rotateY(270deg) translateZ(247px) translateY(-54px);
}
#signRear {
    transform: rotateY(180deg) translateZ(247px) translateY(-54px);
}
.signTopBot {
    background-image: url('/img/main-bot.png');
    width: 494px;
    height: 494px;
    background-size: cover;
    position: absolute;
}
#signTop {
    transform: rotateX(90deg) translateZ(245px);
}
#signBot {
    transform: rotateX(90deg) translateZ(299px);
}
#roofBevel {
    transform-style: preserve-3d;
    position: absolute;
    width: 50px;
    height: 50px;
}
.roofTri {
    width: 0px;
    height: 0px;
    border-left: 233px solid transparent;
    border-right: 233px solid transparent;
    border-bottom: 243px solid #0A3965;
    position: absolute;
    transform-origin: 50% 105%;
}
#triFront {
    border-bottom-color: #0B3D6A;
    transform: translateY(-262px) rotateX(73deg) translateZ(-13px) translateX(13px);
}
#triLeft {
    transform: translateY(-262px) rotateX(73deg) translateZ(-13px) translateX(13px);
}
#triRight {
    transform: translateY(-262px) rotateX(73deg) translateZ(-13px) translateX(13px);
}
#triRear {
    border-bottom-color: #0B3D6A;
    transform: translateY(-262px) rotateX(73deg) translateZ(-13px) translateX(13px);
}
#tdShip {
    width: 200px;
    height: 200px;
    transform: scale3d(.5, .5, .5);
    transform-style: preserve-3d;
}
/*no more secrets!*/

img {
    width: 700px;
    height: 700px;
    position: absolute;
    left: 160px;
    top: 400px;
}
#highscore {

    text-align: center;
    font-size: 40px;
}
.highscore {
    font-size: 90px;
}
.scoreTable {
    position: relative;
    top: 20px;
    width: 50%;
    margin-bottom: 200px;
    font-size: 14pt;
    margin: 0 auto;
    text-align: left;
    border: 3px outset #bbb;
    box-shadow: 0 0 10px 5px #00f;
}
.scoreTable th {
    background-color: #555;
    padding: 5px;
}
.scoreTable td {
    border-bottom: 2px groove #bbb;
    padding: 2px;
}
.scoreTable tr:hover{
    background-color:#002;
    position:relative;
    transform:scale(1.01,1.01);
}
.sortBut {
    background-color: #666;
    color: #bbb;
    border-radius: 10%;
}
.sortBut:hover {
    background-color: #888;
}
.sortButAct {
    color: #fff;
}
.scoreSub {
    background-color:#555;
    font-family:'arial';
    border:3px outset #555;
    border-radius:10%;
    color:#fff;
    box-shadow:0 0 8px 4px #00f;
}
.scoreSub:hover{
    background-color: #777;
    animation:gloBurst .25s ease-out linear;
    -webkit-animation:gloBurst .25s ease-out forwards;
}

@-webkit-keyframes gloBurst {
    0% {box-shadow: 0 0 8px 4px #00f;}
    50% {box-shadow: 0 0 30px 10px #00f;}
    100% {box-shadow: 0 0 30px 1px #005;}
}

#horizInd{
    width:100vw;
    height:10px;
    background-color:#ccc;
    position:absolute;
    left:0px;
    top:0px;
    box-shadow:0 0 6px #222 inset;
    z-index:1;
}
#horizInd:after {
    background: linear-gradient(-45deg, #555 5px, transparent 0), linear-gradient(45deg, #555 5px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
}

#horizInd:before {
    background: linear-gradient(-45deg, #555 5px, transparent 0), linear-gradient(45deg, #555 5px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    transform:scaleY(-1);
}
#vertInd{
    width:10px;
    box-shadow:0 0 6px #222 inset;
    height:100vh;
    background-color:#ccc;
    position:absolute;
    left:0px;
    top:0px;
    z-index:3;
}
#vertIndTube{
    width:14px;
    background-color: #999;
    height:65px;
    position:absolute;
    left:-2px;
    top:0px;
}
.gear{
    background-image:url('/img/gear.png');
    background-size: contain;
    width:80px;
    height:80px;
    position:absolute;
}
#gearOne{
    top:-50px;
    left:10px;
}
#gearTwo{
    top:35px;
    left:10px;
}
#gearBar1{
    position:absolute;
    width:10px;
    height:60px;
    background-color: #555;
    transform:rotate(45deg);
    left:25px;
    top:-20px;
}
#gearBar2{
    position:absolute;
    width:10px;
    height:60px;
    background-color: #555;
    transform:rotate(-45deg);
    left:25px;
    top:20px;
}
#cracked{
    background-image: url('/img/crash.png');
    position:absolute;
    width:100vw;
    height:100vh;
    background-size: 100% 100%;
    background-repeat: repeat;
    z-index:4;
}
input[type=text]{
    font-family:'Rockwell','Courier New','Courier';
    font-weight:400;
    background-color:#000;
    color:#0f0;
}