html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color:#fff;
    z-index:1;
}
h1, h2, h3, p {
    color: #CCC;
}
#container {
    transform-style: preserve-3d;
    position: relative;
    z-index:1;
}
#meta-container{
    width:90vw;
    height:90vw;
    z-index:2;
    transform:translateZ(0px);
}
#shipCont {
    transform-style: preserve-3d;
    position: absolute;
    transform-origin:50% 250px;
    left: 50%;
    width:50px;
    z-index:500;
}
.shipNose {
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 300px solid #ccc;
    position: absolute;
    z-index:1000;
}
#shipNoseBot {
    transform: rotateY(0deg) translateZ(25px) rotateX(9.46deg);
}
#shipNoseLef {
    transform: rotateY(90deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #c9c9c9;
}
#shipNoseTop {
    transform: rotateY(180deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #d0d0d0;
}
#shipNoseRit {
    transform: rotateY(270deg) translateZ(25px) rotateX(9.46deg);
    border-bottom: 300px solid #c0c0c0;
}

.tun{
    border-radius: 50%;
    border:4px solid #0f0;
    position: absolute;
    width:10%;
    height:10%;
    left:50%;
    top:50%;
    border-color:hsl(0,100%,50%);
    text-align: center;
}

//medium+ screen sizes
/*@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}*/
 
//small screen sizes
/*@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}*/
